/* Feuille de style par défault du site */

.test {
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

.principal {
    margin-top: 55px;
}

.widget {
    margin-top: 55px;
}

.navbar {
    background-color: #4e4e4e;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

.body {
    width: 100%;
    background: #f1f1f1;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    width: 5%;
    text-align: center;
}

th {
    background-color: #869aea;
}

tr:hover {
    background-color: #bfdfff;
}

.header {
    color: #e8e8e8;
    width: 100%;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #005399;
}

h1 {
    color: #e8e8e8;
}

h3 {
    border-radius: 10px;
}

.header-admin {
    width: 100%;
    font-size: 20px;
    text-align: center;
    background-color: #ff8b73;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.header a {
    text-decoration: none;
    color: black;
}

#contenu {
    display: flex;
    width: 100%;
}

.author {
    width: 50%;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.error {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    background-color: #fe9b4d;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}

.aside button:hover {
    background-color: #bad8ff;
}

.leftcolumn {
    float: left;
    width: 75%;
}

.aside {
    padding: 5px;
}

.rightcolumn {
    float: left;
    width: 25%;
}

.rightcolumn2 {
    float: right;
    width: 75%;
    margin: 5px;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.leftcolumn2 {
    float: left;
    width: 25%;
    border: dashed #ff8b73;
    background-color: #d7d7d7;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#aboutAuthor {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #aeff98;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.postCom {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: #aeff98;
    margin-top: 10px;
    margin-bottom: 10px;
}

.postCom2 {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: #aeff98;
    width: 90%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: #87b6ff;
}

.reseaux {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: #87b6ff;
}

.admin {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: #87b6ff;
}

#post {
    border-radius: 10px;
    background-color: #aeff98;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list {
    background-color: #dddddd;
    padding: 5px;
    margin: 5px;
}

.mentions {
    background-color: #aeff98;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.footer {
    color: #e8e8e8;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    background-color: #4e4e4e;
    padding-top: 10px;
    padding-bottom: 20px;
}

.footer a {
    color: #e8e8e8;
}

.pied {
    color: #b0b0b0;
    text-align: center;
}

.envoie {
    width: 80%;
    margin: auto;
    background-color: #aeff98;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 15px;
}

.posts {
    width: 80%;
    margin: auto;
}

.com {
    width: 80%;
    margin: auto;
    background-color: #dddddd;
}

.connecter {
    width: 100%;
}

.formulaireAdmin {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #bad8ff;
}

.formulaireLogin {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #ff8b73;
    border-radius: 10px;
}

.formulaireCreation {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #ff8b73;
    border-radius: 10px;
}


/* Responsive layout */

@media screen and (max-width: 500px) {
    #contenu {
        flex-direction: column;
        margin: 0;
    }
    .aside {
        width: 100%;
        margin: 0;
    }
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .leftcolumn2,
    .rightcolumn2 {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}
